# Repositories
bonita-connector-alfresco
bonita-connector-cmis
bonita-connector-database
bonita-connector-email
bonita-connector-googlecalendar-V3
bonita-connector-ldap
bonita-connector-rest
bonita-connector-salesforce
bonita-connector-scripting
bonita-connector-twitter
bonita-connector-webservice
bonita-connectors
bonita-distrib
bonita-engine
bonita-portal-js
bonita-studio-watchdog
bonita-studio
bonita-ui-designer
bonita-userfilters
bonita-web-extensions
bonita-web-pages
bonita-web
image-overlay-plugin

# IDE
.idea/
